<div data-role="page">

  <div data-role="header" data-position="inline">
    <%= link_to "Back", :action => :show, :id => @note.object %>
    <h1>Edit <%= @note.title%></h1>
    <%= link_to "Delete", :action => :delete, :id => @note.object %>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :update %>">
      <input type="hidden" name="id" value="<%= @note.object %>"/>
      <table>
          
          <tr>
              <td class="itemLabel">Title: </td>
              <td class="itemValue"><input type="text" name="note[title]" value="<%= @note.title %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Description: </td>
              <td class="itemValue"><input type="text" name="note[description]" value="<%= @note.description %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Image: </td>
              <td class="itemValue"><input type="text" name="note[image]" value="<%= @note.image %>"/></td>
          </tr>
          
      </table>
      <input type="submit" value="Update"/>
    </form>
  </div>

</div>
