<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @animal.title %>
</p>

<p>
  <b>Description:</b>
  <%= @animal.description %>
</p>


<%= link_to 'Edit', edit_animal_path(@animal) %> |
<%= link_to 'Back', animals_path %>
