<h1>Listing vegetables</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @vegetables.each do |vegetable| %>
  <tr>
    <td><%= vegetable.title %></td>
    <td><%= vegetable.description %></td>
    <td><%= link_to 'Show', vegetable %></td>
    <td><%= link_to 'Edit', edit_vegetable_path(vegetable) %></td>
    <td><%= link_to 'Destroy', vegetable, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Vegetable', new_vegetable_path %>
